{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="text-center">

            <h1>List of my amiibo</h1>
        </div>
        {% for amiibo in amiiboAll %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <b>Name</b> : {{ amiibo.name }}<br>
                        <b>Serie</b> : {{ amiibo.serie }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}