{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center mt-4 animate__animated animate__fadeInUp " style="display: flex ; justify-content: center; align-items: center">
        <img src="https://pogomonster.files.wordpress.com/2014/08/work-in-progress-sign.png" >
    </div>
{% endblock %}

