{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-4">Last entries</h1>
    <div class="container mt-4 animate__animated animate__fadeInUp ">
        {% for amiibo in amiiboLast %}
            <div class="col-md-4">
                <div class="card jumbotron" >
                    {% if amiibo.filename %}
                        <img class="amiiboimg" src="/images/amiibo/{{ amiibo.filename }}" alt="card-img-top">
                    {% endif %}
                    <div class="card-body">

                        <b>Name</b> : {{ amiibo.name }}<br>
                        <b>Serie</b> : {{ amiibo.serie }}<br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}